<!DOCTYPE html> 
<html> 
<head> 
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<link href="{{url_for('static', filename='style.css')}}" type="text/css" rel="stylesheet">
 
    <title>Book reviews</title>
 
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('index')}}">My lovely books</a>
    </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li class="active"><a href="{{url_for('books')}}">Book Reviews</a></li>
        <li><a href="{{url_for('contact')}}">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</head>
<body> 
<h1> Book Reviews </h1>

<div class="container">
{% for review in reviews %}
<div class="row review">
<center><h3>{{review.book_title}}</h3></center>
<hr>
<font size="3">{{review.content}}</font>
</div>
<br><br>
{%endfor%}

<div class="row">
	<br><br><br><br><br>
	<form class="form-horizontal" action="{{url_for('books')}}" method="post">
<fieldset>

<!-- Form Name -->
<center><legend><h3>Review a book</h3></legend></center>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Book Title</label>  
  <div class="col-md-4">
  <input id="title" name="title" type="text" placeholder="Book Title" class="form-control input-md" required="">
  <span class="help-block">Enter the book title</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="review">Review</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="review" name="review"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-success">Send</button>
  </div>
</div>

</fieldset>
</form>

</div>
</body>
</html>
